.admonition {
  --ifm-alert-background-color: #ffffff;
  --ifm-alert-background-color-highlight: #d9f1f5;
  --ifm-alert-foreground-color: var(--ifm-gray-900);
  --ifm-alert-border-color: var(--ifm-color-gray-300);
}

html[data-theme='dark'] .admonition {
  --ifm-alert-background-color: var(--ifm-color-gray-800);
  --ifm-alert-background-color-highlight: var(--ifm-color-gray-800);
  --ifm-alert-foreground-color: var(--ifm-gray-900);
  --ifm-alert-border-color: var(--ifm-color-gray-300);
}

.admonition svg {
  height: 1.2em;
  vertical-align: 0;
}

.admonition code {
  color: var(--ifm-alert-foreground-color);
  background: transparent;
}