name: Prose linting
on: [pull_request]

jobs:
  vale:
    name: Vale
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      actions: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c
        with:
          reporter: github-check
          files: versioned_docs
          vale_flags: --filter ".Level in ['error']" --glob "!**/deprecated/*"
          filter_mode: nofilter
          fail_on_error: true
